.schedcon {
    display: grid;
    grid-template-columns: 100px auto auto auto auto auto;
    background-color: rgb(165, 152, 152);
    padding: 10px;
    gap: 14px;
    text-align: center;
}
 .sh {
    background-color: rgb(146, 110, 134);
    border: 2px solid rgb(20, 24, 20);
    border-radius: 8%;
    padding: 10px;
 }
 .item2 {
    background-color: rgb(45, 146, 146);
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 6;
 }

 .item3 {
    background-color:rgb(45, 146, 146);
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 4;
 }

 .item4 {
    background-color:rgb(45, 146, 146);
    grid-column-start: 3;
    grid-row-start: 4;
    grid-row-end: 6;
 }

 .item5 {
    background-color:rgb(45, 146, 146);
    grid-column-start: 4;
    grid-row-start: 2;
    grid-row-end: 2;
 }

 .item9 {
    background-color:rgb(45, 146, 146);
    grid-column-start: 4;
    grid-row-start: 3;
    grid-row-end: 6;
 }

 .item6 {
    background-color:rgb(45, 146, 146);
    grid-column-start: 5;
    grid-row-start: 2;
    grid-row-end: 6;
 }

 .item7 {
    background-color: rgb(45, 146, 146);
    grid-column-start: 6;
    grid-row-start: 2;
    grid-row-end: 6;
 }

 .item13 {
    background-color: rgb(45, 146, 146);
    grid-column-start: 2;
    grid-column-end: 7;
 }

 .item15 {
    background-color: rgb(45, 146, 146);
    grid-column-start: 2;
    grid-row-start: 7;
    grid-row-end: 7;
 }

 .item16 {
    background-color:rgb(45, 146, 146);
    grid-column-start: 3;
    grid-row-start: 7;
    grid-row-end: 9;
 }

 .item17 {
    background-color:rgb(45, 146, 146);
    grid-column-start: 4;
    grid-row-start: 7;
    grid-row-end: 11;
 }

 .item18 {
    background-color: rgb(45, 146, 146);
    grid-column-start: 5;
    grid-row-start: 7;
    grid-row-end: 11;
 }

 .item19 {
    background-color: rgb(45, 146, 146);
    grid-column-start: 6;
    grid-row-start: 7;
    grid-row-end: 7;
 }

 .item21 {
    background-color: rgb(45, 146, 146);
    grid-column-start: 2;
    grid-row-start: 8;
    grid-row-end: 8;
 }

 
 .item22 {
    background-color: rgb(45, 146, 146);
    grid-column-start: 6;
    grid-row-start: 8;
    grid-row-end: 8;
 }

 .item24 {
    background-color:rgb(45, 146, 146);
    grid-column-start: 2;
    grid-row-start: 9;
 }

 .item25 {
    background-color: rgb(45, 146, 146);
    grid-column-start: 3;
    grid-row-start: 9;
    grid-row-end: 11;
 }

 .item26 {
    background-color: rgb(45, 146, 146);
    grid-column-start: 6;
    grid-row-start: 9;
 }

 .item28 {
    background-color: rgb(45, 146, 146);
    grid-column-start: 2;
    grid-row-start: 10;
 }

 .item27 {
    background-color: rgb(45, 146, 146);
    grid-column-start: 6;
    grid-row-start: 10;
 }