body {
    font-family: Arial, sans-serif;
    background-color: #1a442d;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 450px;
    width: 500px;
    border-radius: 7%;
    background-color: rgba(53, 110, 87, 0.911);
}

h1 {
    text-align: center;
    margin-top: 0;
    width: 100%;
}

#number-input {
    width: 200px;
    height: 40px; /* Adjusted height */
    margin: 20px auto;
    padding: 10px;
    font-size: 16px; /* Adjusted font size */
    border: 2px solid #333;
    border-radius: 5px;
}

#operation-input {
    width: 100px;
    height: 40px; /* Adjusted height */
    margin: 20px auto;
    padding: 10px;
    font-size: 16px; /* Adjusted font size */
    border: 2px solid #333;
    border-radius: 5px;
}

#previous{
    width: 100px;
    height: 40px; /* Adjusted height */
    margin: 20px auto;
    padding: 10px;
    font-size: 16px; /* Adjusted font size */
    border: 2px solid #333;
    border-radius: 5px;
}


.buttons {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  
}

.buttons button {
    align-items: center;
 background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
 border: 0;
 border-radius: 5px;
 box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
 box-sizing: border-box;
 color: #FFFFFF;
 display: flex;
 font-family: Phantomsans, sans-serif;
 font-size: 18px;
 justify-content: center;
 line-height: 1em;
 max-width: 100%;
 min-width: 100px;
 padding: 3px;
 text-decoration: none;
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 white-space: nowrap;
 cursor: pointer;
 transition: all .3s;
}

.buttons button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #af5899;
    border: 1px solid #333;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #9b39a0;
}

.buttons button:active {
    background-color: #d431ab;
}

.buttons button.operation {
    background-color: #862e99;
}

.buttons button.operation:hover {
    background-color: #ff8080;
}

.buttons button.operation:active {
    background-color: #ff6666;
}
