body {
    background-image: url('neo.jpg'); /* Replace 'neo.jpg' with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 123px;
    width: 80%;
    padding: 0;
  
 
}

.container {
    background-color: rgba(250, 238, 238, 0.7); /* Adjust the opacity here (0.7 for 70% transparent) */
    padding: 50px;
    width: 50%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: center;
    text-align: center;
}
h2 {
    color: #0a0707;
    margin-bottom: 20px;
}

label {
    font-size: 30px;
    color: rgb(41, 54, 46);
    padding: 15%;
}

input [type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #4b3838;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: rgb(221, 209, 224);
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    font-size: 30px;
       background-color: #79977d;
   }

   .Register {
       font-size: 20px;
       color: rgb(25, 126, 109);
       text-decoration: none;
   }

   .Register:hover {
       font-size: 30px;
       color: rgb(87, 25, 87);
   }
   